{% extends "base.html" %}

{% block content %}

<div class="main">
  <h2> About Codernote </h2>
  <p>
  Codernote burst into existance because I needed it to.
  In the course of a given day I might write a blog entry,
  prepare a project postmortum for a client, plan a new
  personal project, make research notes on an interesting
  idea, outline a series of articles, architect a project
  for a second client, and find four really interesting
  links I want to go back and explore in a couple of free
  moments.
  </p>
  <p>
  All those tasks uses different tools: I might paste the
  code snippets into Emacs and save it in <code>~/snippets/scheme/</code>,
  then write the blog entry in Emacs and save it in <code>~/blog/</code>,
  write the outline on a piece of scratch paper, and just forget
  about the four links altogether.
  </p>
  <p>
  Codernote is a simple application that can handle all of these
  tasks, and more, using a small set of composable tools, and a
  flexible workflow:
  </p>

  <ol>
    <li> Create notes with syntax highlighting, markup languages like Markdown and Textile, or plain text.</li>
    <li> Tag the notes with custom tags, and other meta data like start and end dates. </li>
    <li> Sort and filter your data with composable sorts and filters. </li>
    <li> Share and publish notes in three ways: randomized url hashes, your personal publishing page, or by adding authors to your notes.</li>
  </ol>

  <p>
  Codernote helps you create, cooperate, and publish.
  </p>

  <h2> About the Team </h2>

  <p>
  Codernote is a <a href="http://lethain.com">Will Larson</a> production.
  As with all software, especially web software, we are but dwarves standing
  on the shoulders of giants. But specifically, yes, the dwarf who built
  Codernote was Will.
  </p>

</div>

{% endblock %}