{% extends "base.html" %}

{% block content %}
<div class="main">
  <ul class="legend">
    <li><a href="#what-is-codernote">What is Codernote?</a></li>
    <li><a href="#features">What are Codernote's features?</a></li>
    <li><a href="#privacy">What is your privacy policy?</a></li>
    <li><a href="#suggestions">I think it'd be pretty amazing if you...</a></li>
    <li><a href="#revisions">Revisions are more confusing than an elephant in a tutu. What gives?</a></li>
    <li><a href="#pub-note-update">Why don't my published notes update immediately?</a></li>
    <li><a href="#diff-hash-flow">What's the difference between publishing to a flow and to a hash?</a></li>
    <li><a href="#diff-publish-share">What's the difference between publishing and sharing?</a></li>
    <li><a href="#delete-shared-note">What happens when you delete a shared note?</a></li>
    <li><a href="#do-you-use">Do you use Codernote?</a></li>
    <li><a href="#how-did-you-build">How did you make Codernote?</a></li>
  </ul>
  

  <hr>
  
  <h2 id="what-is-codernote"> What is Codernote?</h2>
  <p>
  Codernote is a web application for creating, organizing, sharing, and publishing notes.
  </p>
  <p>
  With Codernote you can write a document in Markdown, share it with a fellow Codernoter for some
  feedback who then directly edits the note, then publish it as a unique hash that you email to
  a few coworkers for their opinions, and then finally you could publish it to your personal flow
  (which has an RSS feed, of course) with a clean url and easy access to your other published
  materials. (You could unpublish it just as easily.)
  </p>
  <p>
  That's just one way you might chose to use Codernote. You can also use it as a private
  repository of notes that you occasionally briefly make available to others by temporarily publishing
  them to hashes, or to collaborate on a joint document with a partner.
  </p>
  <p>
  Codernote is flexibile tool for your entire document workflow on the web.
  </p>

  <h2 id="features">What are Codernote's feature?</h2>
  <p>
  The philosophy behind Codernote is to have a number of
  small flexible utilities that are also composable.
  Here are some of the features we offer:
  </p>
  <ol>
    <li>Organize notes with tags, dates, and titles.</li>
    <li>Sort and filter notes based on composable sorts and filters. Do you want to see notes with the tag <em>web</em>, whose title contains a <em>t</em>, sorted by the date they were created? We can do that for you.</li>
    <li>Notes can be written in Markdown, Textile or plain text. They can also be code snippets that are highlighted based on the programming language.</li>
    <li>Publish notes to unique hashes, or to a public page for each user.</li>
    <li>Share notes with other users, to collaborate and share data privately.</li>
  </ol>

  <p>
  We also have some features that aren't features at all,
  but just <em>feel</em> like features because you're
  so used to bad treated:
  </p>
  <ol>
    <li> No banner ads, popup ads, sidebar ads... well. No ads anywhere, really.</li>
    <li> Print anywhere, and it'll just work. No branding, no sidebars, just your content.</li>
  </ol>

  <h2 id="privacy">What is your privacy policy?</h2>
  <p>
  In short, we will never give your data to anyone else,
  to the extent possible under United States law. We won't
  sell your data at any price.
  </p>
  <p>
  Every decision in Codernote has been made to create a
  better product for you, the user. We'll handle your
  data in the exact same way.
  </p>

  <h2 id="suggestions">I think it'd be pretty amazing if you...</h2>
  <p>
  We love getting feedback from you. Even if it's really unhappy feedback,
  it helps us improve Codernote and provide a better service to you.
  The easiest way to give feedback <a href="/contact/">is the contact form</a>.
  </p>

  <h2 id="revisions">Revisions are more confusing than an elephant in a tutu. What gives?</h2>
  <p>
  Revisions store old copies of your notes, which you can revert back to
  at any time. Each time you finish editing a note, then a revision is
  created. That much is straightforward, but...
  </p>
  <p>
  Left unchecked, you'll accumulate an unwielding quantity of revisions,
  which is bad for you, and bad for us, too. To combat revision excesses,
  we periodically (multiple times a day) prune revisions.
  </p>
  <p>
  Roughly, the pruning procedure will try to leave one revision at least a minute old,
  one revision at least ten minutes old, one revision at least an hour old,
  one revision at least sixteen hours old, and one revision at least nine weeks
  old. This means you can rely on having a fairly healthy history of your note
  over time, but you cannot rely on any specific revision being preserved.
  (If you want to store a specific revision, just make a new note!)
  </p>
  <p>
  Revisions are intended as a backup against disaster, and a simple way
  of observing a documents progress over time. They are far from perfect,
  but are hopefully somewhat useful in times of great calamity.
  </p>

  <h2 id="pub-note-update">I changed a published note, but it didn't update.</h2>
  <p>
  Yep, don't worry, if you wait a couple of minutes then it'll update. Published
  notes are refreshed every half hour, so you shouldn't have to wait too long
  to see your changes.
  </p>
  
  <h2 id="diff-hash-flow"> What is the difference between hash and flow publishing? </h2>
  <p>
  When you publish to a hash, your note can be accessed at the generated
  url, but there is no way for someone else to discover that url unless
  you explicitly give it to them (that isn't to say that it is safe from
  being discovered, just that it is relatively unlike to be discovered).
  </p>
  <p>
  On the other hand, when you publish to a flow, anyone who knows your
  username can discover your published notes. In that sense, notes
  published to a flow represent a resource that others can discover
  and read (they even have an RSS feed, for those of you publishing
  particularly juicy content).
  </p>

  <h2 id="diff-publish-share"> What is the difference between publishing and sharing?</h2>
  <p>
  Publishing is the act of making your work available to the public.
  That can be done either discreetly (via a hash), or broadcasted
  (via a flow).
  </p>
  <p>
  Sharing a note makes a note available for another Codernote user
  to read and modify, but doesn't make it available to the public.
  </p>

  <h2 id="delete-shared-note"> What happens when I delete a shared note? </h2>
  <p>
  If you delete a shared note (different than a published note),
  then you are simply removed from its list of authors, and it
  continues to exist until all authors have deleted it.
  </p>
  <p>
  Yes, that does mean that you lose dictorial control of your notes when
  you share them with others, so please share carefully!
  </p>

  <h2 id="do-you-use">Do you use Codernote?</h2>
  <p>
  Yep. I use Codernote pretty much everyday. I first started working
  on codernote because I wanted to use Codernote. I'm a notetaking
  kind of guy, and Codernote is my notebook.
  </p>
  
  <h2 id="how-did-you-build"> How did you build Codernote? </h2>
  <p>
  Codernote relies heavily on <a href="http://djangoproject.com">Django</a>
  and <a href="http://jquery.com/">jQuery</a>. All images were created
  in <a href="http://www.inkscape.org/">Inkscape</a>, and all text was
  edited in <a href="http://aquamacs.org/">Aquamacs</a>.
  </p>

</div>
{% endblock %}