{% extends "base.html" %}

{% block content %}
<div class="main">
  <ul class="legend">
    <li><a href="#what-is-codernote">What is Codernote?</a></li>
    <li><a href="#privacy">What is your privacy policy?</a></li>
    <li><a href="#suggestions">I think it'd be pretty amazing if you...</a></li>
    <li><a href="#"></a></li>
    <li><a href="#"></a></li>
    <li><a href="#"></a></li>
    <li><a href="#"></a></li>
    <li><a href="#"></a></li>
    <li><a href="#"></a></li>
    <li><a href="#"></a></li>
    <li><a href="#"></a></li>
    <li><a href="#"></a></li>
    <li><a href="#"></a></li>
    <li><a href="#pub-note-update">Why don't my published notes update immediately?</a></li>
    <li><a href="#diff-hash-flow">What's the difference between publishing to a flow and to a hash?</a></li>
    <li><a href="#diff-publish-share">What's the difference between publishing and sharing?</a></li>
    <li><a href="#delete-shared-note">What happens when you delete a shared note?</a></li>
    <li><a href="#how-did-you-build">How did you make Codernote?</a></li>
  </ul>
  

  <hr>
  
  <h2 id="what-is-codernote"> What is Codernote?</h2>
  <p>
  </p>

  <h2 id="privacy">What is your privacy policy?</h2>
  <p>
  In short, we will never give your data to anyone else,
  to the extent possible under United States law. We won't
  sell your data at any price.
  </p>
  <p>
  Every decision in Codernote has been made to create a
  better product for you, the user. We'll handle your
  data in the exact same way.
  </p>

  <h2 id="suggestions">I think it'd be pretty amazing if you...</h2>
  <p>
  We love getting feedback from you. Even if it's really unhappy feedback,
  it helps us improve Codernote and provide a better service to you.
  The easiest way to give feedback <a href="/contact/">is the contact form</a>.
  </p>

  <h2 id=""></h2>
  <p>
  </p>

  <h2 id=""></h2>
  <p>
  </p>

  <h2 id="pub-note-update">I changed a published note, but it didn't update.</h2>
  <p>
  Yep, don't worry, if you wait a couple of minutes then it'll update. Published
  notes are refreshed every half hour, so you shouldn't have to wait too long
  to see your changes.
  </p>
  
  <h2 id="diff-hash-flow"> What is the difference between hash and flow publishing? </h2>
  <p>
  When you publish to a hash, your note can be accessed at the generated
  url, but there is no way for someone else to discover that url unless
  you explicitly give it to them (that isn't to say that it is safe from
  being discovered, just that it is relatively unlike to be discovered).
  </p>
  <p>
  On the other hand, when you publish to a flow, anyone who knows your
  username can discover your published notes. In that sense, notes
  published to a flow represent a resource that others can discover
  and read (they even have an RSS feed, for those of you publishing
  particularly juicy content).
  </p>

  <h2 id="diff-publish-share"> What is the difference between publishing and sharing?</h2>
  <p>
  Publishing is the act of making your work available to the public.
  That can be done either discreetly (via a hash), or broadcasted
  (via a flow).
  </p>
  <p>
  Sharing a note makes a note available for another Codernote user
  to read and modify, but doesn't make it available to the public.
  </p>

  <h2 id="delete-shared-note"> What happens when I delete a shared note? </h2>
  <p>
  If you delete a shared note (different than a published note),
  then you are simply removed from its list of authors, and it
  continues to exist until all authors have deleted it.
  </p>
  <p>
  Yes, that does mean that you lose dictorial control of your notes when
  you share them with others, so please share carefully!
  </p>

  <h2 id="how-did-you-build"> How did you build Codernote? </h2>
  <p>
  Codernote relies heavily on <a href="http://djangoproject.com">Django</a>
  and <a href="http://jquery.com/">jQuery</a>. All images were created
  in <a href="http://www.inkscape.org/">Inkscape</a>, and all text was
  edited in <a href="http://aquamacs.org/">Aquamacs</a>.
  </p>
  
</div>
{% endblock %}