{% extends "base.html" %}
{% load compressed %}

{% block js %}
{% compressed_js 'invites' %}
{% endblock %}

{% block content %}
<div class="main">
  <h2> Note Invitations </h2>
  <div id="errors"></div>
  <div id="invites" class="invites">
  {% for obj in obj_list %}
  <div id="{{ obj.pk }}" class="invite">
    <span class="left"><strong>{{ obj.note.title }}</strong> from <a href="/flow/{{ obj.sender.username }}/">{{ obj.sender.username }}</a></span>
    <span class="no button right"><a class="no" id="{{ obj.pk }}" href="reject/{{ obj.pk }}/">No</a></span>
    <span class="button right"><a class="yes" id="{{ obj.pk }}" href="accept/{{ obj.pk }}/">Yes</a></span>
    <span class="label right">Accept?</span>
    <br>
    <span class="left tags"><em>{{ obj.note.tags }}</em></span>
  </div>
  {% endfor %}
  </div>
</div>
{% endblock %}