{% extends "base.html" %}

{% block extrahead %}
<link rel="stylesheet" href="/media/datePicker.css">
<script type="text/javascript" src="/media/date.js"></script>
<script type="text/javascript" src="/media/jquery.datePicker.js"></script>
<script type="text/javascript" src="/media/note_detail.js"></script>
{% endblock %}

{% block content %}


<div id="top-toolbar" class="toolbar details">
  <div class="tip">
    <p class="center"> Double click to edit. </p>
  </div>
  <div id="details">
    <div class="left">
      <input type="hidden" id="slug" value="{{ object.slug }}">
      <div class="detail">
       <span><strong>Title:</strong></span>
       <span id="title" class="editable">{{ object.title }}</span>
      </div>
      <div class="detail">
	<span><strong>Tags:</strong></span>
	<span id="tags" class="editable">{{ object.tags }}</span>
      </div>
      <div class="detail">
	<span class="left"><strong>Type: </strong></span>
	<select class="left" id="type">
	  <option value="plain"{% ifequal object.type "plain" %} selected="selected"{% endifequal %}>Plain Text</option>
	  <option value="markdown"{% ifequal object.type "markdown" %} selected="selected"{% endifequal %}>Markdown</option>
	  <option value="textile"{% ifequal object.type "textile" %} selected="selected"{% endifequal %}>Textile</option>
	  <option value="snippet"{% ifequal object.type "snippet" %} selected="selected"{% endifequal %}>Code Snippet</option>
	</select>
      </div>
      <div class="detail hidden">
	<span class="left"><strong>Language: </strong></span>
	<select class="left" id="languages">
	</select>
      </div>
    </div>
    <div class="right">
      <div class="detail">
	<span><strong>Start Date:</strong></span>
	<span id="start" class="date">{{ object.start|date:"m/j/y" }}</span>
      </div>
      <div class="detail">
	<span><strong>End Date:</strong></span>
	<span id="end" class="date">{{ object.end|date:"m/j/y" }}</span>
      </div>
      <div class="detail">
	<span><strong>Created On:</strong></span>
	<span>{{ object.created|date:"m/j/y" }}</span>
      </div>
    </div>
  </div>
</div>

<p id="writing-storage" class="hidden">{{ object.text|safe }}</p>
{% if object.text %}
<div id="writing">{{ object.render_text|safe }}</div>
{% else %}
<p id="writing" class="center"> You haven't written anything yet. Double click here to begin. </p>
{% endif %}

<div class="toolbar">
    <a id="delete" class="button negative left" href="/note/delete/{{ object.slug }}/">Delete Note</a>
      <a id="publish" class="button right" href="/note/publish/{{ object.slug }}/">Publish Note</a>

</div>

{% endblock %}