{% extends "base.html" %}

{% block extrahead %}
<link rel="stylesheet" href="/media/datePicker.css">
<link rel="stylesheet" href="/media/pygments.css">
<script type="text/javascript" src="/media/date.js"></script>
<script type="text/javascript" src="/media/jquery.datePicker.js"></script>
<script type="text/javascript" src="/media/note_detail.js"></script>
{% endblock %}

{% block content %}


<div id="top-toolbar" class="toolbar details">
  <div class="border-top"></div>
  <div class="inner">
  <div class="tip">
    <p class="center"> Double click to edit. </p>
  </div>
  <div id="details">
    <div class="left">
      <input type="hidden" id="slug" value="{{ object.slug }}">
      <div class="detail">
       <span><strong>Title:</strong></span>
       <span id="title" class="editable">{{ object.title }}</span>
      </div>
      <div class="detail">
	<span><strong>Tags:</strong></span>
	<span id="tags" class="editable">{{ object.tags }}</span>
      </div>
      <div class="detail">
	<span class="left"><strong>Type: </strong></span>
	<select class="left" id="type">
	  <option value="plain"{% ifequal object.type "plain" %} selected="selected"{% endifequal %}>Plain Text</option>
	  <option value="markdown"{% ifequal object.type "markdown" %} selected="selected"{% endifequal %}>Markdown</option>
	  <option value="textile"{% ifequal object.type "textile" %} selected="selected"{% endifequal %}>Textile</option>
	  <option value="snippet"{% ifequal object.type "snippet" %} selected="selected"{% endifequal %}>Code Snippet</option>
	</select>
      </div>
      <div id="detail_div" class="detail{% ifnotequal object.type "snippet" %} hidden{% endifnotequal %}">
	<span class="left"><strong>Lexer: </strong></span>
	<select class="left" id="type_detail">
	  <option value="">Pick a Lexer</option>
	  {% for lexer in lexers %}
	  <option value="{{ lexer }}">{{ lexer }}</option>
	  {% endfor %}
	</select>
      </div>
      {% if object.is_shared %}
      <div class="detail">
      <span><strong>Shared with </strong>{% for owner in object.owners.all %}<a href="/flow/{{ owner.username}}/">{{ owner.username }}</a> {% endfor %}</span>
      </div>
      {% endif %}
      
      {% if object.hashpublish_set.all %}
      <div id="hashdiv" class="detail">
	<span class="left"><a id="hashurl" href="/hash/{{ object.hashpublish_set.all.0.hash }}/"><strong> Published as hash.</a></strong>
      </div>
      {% else %}
      <div id="hashdiv" class="detail hidden">
	<span class="left"><a id="hashurl" href="#"><strong> Published as hash.</a></strong>
      </div>
      {% endif %}
      {% if object.flowpublish_set.all %}
      <div id="flowdiv" class="detail">
	<span class="left"><a id="flowurl" href="/hash/{{ object.hashpublish_set.all.0.hash }}/"><strong> Published in flow.</a></strong>
      </div>
      {% else %}
      <div id="flowdiv" class="detail hidden">
	<span class="left"><a id="flowurl" href="#"><strong> Published in flow.</a></strong>
      </div>
      {% endif %}
    </div>
    <div class="right">
      <div class="detail">
	<span><strong>Start Date:</strong></span>
	<span id="start" class="date">{{ object.start|date:"m/j/y"|default:"None" }}</span>
      </div>
      <div class="detail">
	<span><strong>End Date:</strong></span>
	<span id="end" class="date">{{ object.end|date:"m/j/y"|default:"None" }}</span>
      </div>
      <div class="detail">
	<span><strong>Created On:</strong></span>
	<span>{{ object.created|date:"m/j/y" }}</span>
      </div>
    </div>
  </div>
  <div id="share" class="button left">
    <a href="#">Share with...</a>
  </div>
    <input class="left hidden" id="share-target">
    <div id="share-confirm" class="button left hidden">
      <a href="#">Share!</a>
    </div>
  
    {% if object.hashpublish_set.all %}
    <div id="unpublish-hash" class="button right">
    <a href="/unpublish/hash/{{ object.slug }}/">Unpublish as Hash</a>
    </div>
    {% else %}
    <div id="publish-hash" class="button right">
    <a href="/publish/hash/{{ object.slug }}/">Publish as Hash</a>
    </div>
    {% endif %}
    {% if object.flowpublish_set.all %}
    <div id="unpublish-flow"  class="button right">
    <a href="/unpublish/flow/{{ object.slug }}/">Unpublish from Flow</a>
    </div>
    {% else %}
    <div id="publish-flow" class="button right">
    <a href="/publish/flow/{{ object.slug }}/">Publish in Flow</a>
    </div>
    {% endif %}

  
  </div>
  <div class="border-bottom"></div>
</div>

<div class="writing">
  <p id="writing-storage" class="hidden">{{ object.text|safe }}</p>
  {% if object.text %}
<div id="writing">{{ object.render_text|safe }}</div>
{% else %}
<p id="writing" class="center"> You haven't written anything yet. Double click here to begin. </p>
{% endif %}
</div>
<div class="toolbar">
  <div class="border-top"></div>
  <div class="inner">
    <div id="delete" class="button left">
      <a href="/note/delete/{{ object.slug }}/">Delete Note</a>
    </div>
  </div>
  <div class="border-bottom"></div>
</div>

{% endblock %}