{% extends "base.html" %}

{% block extrahead %}
<script type="text/javascript" src="/media/note_list.js"></script>
{% endblock %}

{% block content %}


{% if user.is_authenticated %}
<div class="toolbar">
  <div class="border-top"></div>
  <div class="inner">
    <div class="button right">
      <a id="create-note" href="/note/create/">New Note</a>
    </div>
  <div class="tool left" id="sort">
    
    <span class="left"> Sort </span>
    <ul class="left" id="sorts">
      <li>
      <select class="sort" name="sort">
	<option value="">select sort...</option>
	<option value="tag">tag</option>
	<option value="title">title</option>
	<option value="type">type</option>
	<option value="start-date">start-date</option>
	<option value="end-date">end-date</option>
	<option value="created-date">created-date</option>
      </select>
      </li>
    </ul>
  </div>
  <div class="tool left" id="filter">
    <span class="left"> Filter </span>
    <ul class="left" id="filters">
      <li>
      <select class="filter" name="filter">
	<option value="">select filter...</option>
	<option value="has tag">has tag</option>
	<option value="title contains">title contains</option>
	<option value="type is">type is</option>
      </select>
      </li>
    </ul>
  </div>
  <div class="left detail">
    
    <a href="/manage-shared/">You have 4 notes awaiting approval.</a>
  </div>
  </div>
  <div class="border-bottom"></div>
</div>

<div id="list" class="list"></div>

<script>
var serialized = {{ serialized|safe }};
var displayed = serialized;
</script>
{% else %}
{% include "codernote/front.html" %}
{% endif %}

{% endblock %}