{% extends "base.html" %}

{% block extrahead %}
<script type="text/javascript" src="/media/note_list.js"></script>
{% endblock %}

{% block content %}

<div class="toolbar">
  <a class="button right" href="/note/create/">New Note</a>
  <div class="tool left" id="sort">
    <span class="left"> Sort </span>
    <ul class="left" id="sorts">
      <li>
      <select name="sort" id="sort_select">
	<option value="">select sort...</a>
	<option value="tag">tag</option>
	<option value="title">title</option>
	<option value="type">type</option>
	<option value="start-date">start date</option>
	<option value="end-date">end date</option>
	<option value="created-date">created date</option>
      </select>
      </li>
      
    </ul>
  </div>
  <div class="tool left" id="filter">
    <span class="left"> Filter </span>
    <ul class="left" id="filters">
      <li>
      <select name="filter" id="filter_select">
	<option value="">select filter...</a>
	<option value="tag">tag</option>
	<option value="title">title</option>
	<option value="type">type</option>
	<option value="start-date">start date</option>
	<option value="end-date">end date</option>
	<option value="created-date">created date</option>
      </select>
      </li>
    </ul>
  </div>
</div>

<div id="list" class="list">
  {% for note in object_list %}
  <div class="note" id="/n/{{ note.slug }}/">
    <div class="dates">
      {% if note.start %}
      <span class="start-date left">{{ note.start }}</span>
      {% endif %}
      {% if note.end %}
      <span class="end-date right">{{ note.end }}</span>
      {% endif %}
      {% if not note.start and not note.end %}
      <p class="create_date center">{{ note.created|date:"n/j/y" }}</p>
      {% endif %}
    </div>
    <p class="title center">{{ note.title }}</p>
    <p class="tags center">{{ note.tags }}</p>
  </div>
  {% endfor %}
</div>

{% endblock %}