{% extends "base.html" %}

{% block title %}Notes by {{ writer.username }}{% endblock %}

{% block extrahead %}
<link rel="alternate" type="application/rss+xml" title="Note feed for {{ writer.username }}" href="/feed/flow/{{ writer.username }}/">
<link rel="stylesheet" href="/media/pygments.css">
{% endblock %}

{% block content %}
<div class="main flow-list">
  <h2>Notes by {{ writer.username }}</h2>
  
  <ol>
  {% for object in objects %}
    <li>
    <span class="title"><a href="{{ object.note.slug }}/">{{ object.note.title }}</a></span>
    <span class="date">{{ object.note.created|date:"m/j/y" }}</span>
    </li>
  {% endfor %}
  </ol>
</div>
{% endblock %}