


/* Generic classes */

.center {
    text-align: center;
}

.left {
    float: left;
}

.right {
    float: right;
}

.overflow {
    overflow: auto;
}

.hidden {
    display: none;
}

.front {
    height: 320px;
}

.main {
    width: 70%;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 15%;
    margin-right: 15%;
}

h1 {
    font-size: 2.5em;
}
h2 {
    font-size: 2.0em;
}
h3 {
    font-size: 1.5 em;
}
h4 {
    font-size: 1.25em;
}
h1 , h2 , h3 , h4 , h5 {
    margin-top: 1em;
    margin-bottom: 1em;
}

p , ul , ol {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 1.1em;
}

ul {
    list-style-position: inside;
    list-style-type: disc;
}

ol {
    list-style-type: decimal;
    list-style-position: inside;
}
li {
    margin-top: 0.25em;
    margin-left: 1.25em;
    margin-bottom: 0.25em;
}

li > ul , li > ol {
    margin-top: -0.1em;
    margin-bottom: -0.1em;
}


/* Global defaults */

html {
    font-size: 62.5%;
}

body {
    font-family: georgia;
    margin: 0px;
    font-size: 1.5em;
}

a {
    text-decoration: none;
}

a:hover {
    border-bottom: 1px solid;
}

a img {
    border: none;
}

/* Content */
   
#content {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
}

/* Header */

#header .inner {
    height: 1em;
    padding: 1em;
}


#header .navlinks {
    overflow: visible;
}

#header img {
    margin-left: 1em;
    margin-right: 1em;
}

#header .navlinks a {
    font-size: 1.25em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

/* Footer */

#footer .inner {
    height: 1em;
    padding: 1em;
    text-align: center;
}

/* Details */

#details {
    padding-left: 2em;
    padding-right: 2em;
    font-size: 1.2em;
    margin-bottom: 1em;
    overflow: auto;
}

#details input {
    width: 200px;
}

#type {
    width: 200px;
}


.detail select {
    height: 20px;
}
.detail p {
    margin: 0;
    padding: 0;
}

#share-target {
    margin-left: 6px;
    margin-right: 6px;
    height: 25px;
    padding-left: 5px;
    padding-right: 5px;
}

/* Writing */

.writing {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
}

.writing textarea {
    height: 300px;
    width: 100%;
}


/* List */

#content .list {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    overflow: auto;
    
}

#content .list .msg {
    text-align: center;
}

#content .list .note {
    width: 250px;
    float: left;
    padding: 0.5em;
    cursor: pointer;
    margin-left: 0.3em;
    margin-right: 0.3em;
    margin-bottom: 0.75em;
}

#content .list .note .dates {
    overflow: auto;
    font-size: 0.9em;
}

#content .list .note .dates span {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

#content .list .note p {
    margin-bottom: 0.25em;
    margin-top: 0.25em;
}

#content .list .note .title {
    font-size: 1.5em;
}

#content .list .note .tags {
    font-size: 0.9em;
}


/* Help */

#content div.help {
    padding: 1em;
    margin-bottom: 1em;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

/* Toolbar */

#content .toolbar {
    margin-top: 0px;
    overflow: auto;

}

#content .toolbar .inner {
    padding: 0.5em;
    padding-left: 8%;
    padding-right: 8%;
    overflow: auto;
}

#content .toolbar .tool {
    margin-top: 0em;
    margin-right: 2em;
}

#content .toolbar .tool span {
    margin-top: 0px;
    margin-right: 0.5em;
}

#content .toolbar a {
    height: 25px;
}

.revision .button a, #content .toolbar .button a {
    top: 0.5em;
    border: none;
}

.revision .button a:hover, #content .toolbar .button a:hover {
    border: none;
}

#content .toolbar ul {
    margin-top: 0px;
    margin-bottom: 0px;
    list-style: none;
    text-indent: -1em;
}

#content .toolbar select {
    margin-top: 0px;
    margin-bottom: 4px;
    float: left;
    height: 2em;
    padding: 0.25em;
}



#filter input, #sort input {
    width: 100px;
    float: left;
}

#sort li, #filter li {
    width: 210px;
}

#sort span {
    margin-right: 1em;
}

#share-target {
    width: 100px;
    height: 40px;
    font-size: 1.5em;
    margin-left: 2px;
}

#share-details {
    margin-top: 0.5em;
}
#share-details span {   
    margin-top: 0.4em;
    padding-top: 0.7em;
    margin-right: 0.5em;
}
#share-details input {
    margin-top: 0.35em;
    width: 300px;
}

#create-note {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px;
}

/* Create Note */

#create {
    padding: 1em;
}

#create table {
    margin-left: 10%;
}

#create td.title {
    width: 100px;
}

#create td.field input {
    width: 300px;
}

#create td.help {
    padding-left: 1em;
}

#create input.submit {
    width: 100%;
    font-size: 1.5em;
}

/* Reports */

.report {
    margin-bottom: 1em;
    text-align: center;
}

/* Invite Stylings */

.invites {
    margin-bottom: 1em;
}

.invites .invite {
    padding: 0.5em;
    overflow: auto;
}
.invites .invite p {
    margin-top: 0em;
}
.invites .invite .label {
    margin-right: 2em;
}
.invites .invite .button {
    margin-right: 2em;
}


/* Account Stylings */

.account {
    overflow: auto;
}

.account .form {
    width: 45%;
    float: left;
    margin-right: 20px;
}

div.register {
    float: left;
    width: 45%;
}

.login .title {
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.login input {
    width: 200px;
}

.login .submit-row {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

/* Plain Text Type */
pre.plain {
    font-family: georgia;
}

/* Revisions */


.revision {
    overflow: auto;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
}

.revision span {
    margin-top: 1em;
}

.revision pre.text {
    padding-top: 0.5em;   
}

/* Help Stylings */

ul.legend {
    font-size: 1.25em;
    list-style-type: none;
}