
/* Defaults */

.hidden {
    display: none;
}

body {
    font-family: georgia;
    margin: 0px;
}

a {
    color: #7070FF;
    text-decoration: none;
}

a:hover {
    border-bottom: 1px solid;
}

.center {
    text-align: center;
}

.left {
    float: left;
}

.right {
    float: right;
}

/* Content */
   
#content {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

/* Header */

#header .inner {
    height: 1em;
    padding: 1em;
    background-color: #E5E5CC;
}


#header .navlinks {
    overflow: visible;
}

#header .navlinks a {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

#header .top {
    height: 15px;
    background-color: #E5E5CC;
}

#header .bottom {
    position: relative;
    height: 15px;
    background:url(/media/border_bottom.png) repeat-x;
}

/* Footer */

#footer .inner {
    height: 1em;
    padding: 1em;
    background-color: #E5E5CC;
    text-align: center;
}

#footer .top {
    position: relative;
    height: 15px;
    background:url(/media/border_top.png) repeat-x;
}

#footer .bottom {
    position: relative;
    height: 15px;
    background:url(/media/border_bottom.png) repeat-x;
}

/* Details */

#details {
    padding-left: 2em;
    padding-right: 2em;
    font-size: 1.2em;
    overflow: auto;
    margin-bottom: 1em;
}

#details input.large {
    width: 250px;
}

#details .right {
    width: 300px;
}

#details .left {

}

#details .detail {
    overflow: auto;
}

/* Writing */

#writing {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
}

textarea {
    height: 300px;
}


/* List */

#content .list {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    overflow: auto;
    
}

#content .list .msg {
    text-align: center;
}

#content .list .note {
    width: 250px;
    float: left;
    border: 1px solid #B0B0B0;
    padding: 0.5em;
    cursor: pointer;
    margin-left: 0.3em;
    margin-right: 0.3em;
    margin-bottom: 0.75em;
}

#content .list .note:hover {
    background-color: #E0E0FF;
}

#content .list .note .dates {
    overflow: auto;
    font-size: 0.9em;
}

#content .list .note .dates span {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

#content .list .note p {
    margin-bottom: 0.25em;
    margin-top: 0.25em;
}

#content .list .note .title {
    font-size: 1.5em;
}

#content .list .note .tags {
    font-size: 0.9em;
}


/* Help */

#content div.help {
    padding: 1em;
    border: 1px solid #505050;
    background-color: #E5E5CC;
    margin-bottom: 1em;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

/* Toolbar */

#content .toolbar {
    margin-top: 0px;
    overflow: auto;

}

#content .toolbar .inner {
    background-color: #E0E0FF;
    padding: 0.5em;
    padding-left: 8%;
    padding-right: 8%;
    overflow: auto;
}



#content .toolbar .border-top {
    position: relative;
    height: 15px;
    background:url(/media/border_blue_top.png) repeat-x;
}

#content .toolbar .border-bottom {
    position: relative;
    height: 15px;
    background:url(/media/border_blue_bottom.png) repeat-x;
}


#content .toolbar .tool {
    margin-top: 0px;
    width: 33%;
    margin-right: 2em;
}

#content .toolbar .tool span {
    margin-top: 0px;
    margin-right: 0.5em;
}

#content .toolbar .button {
    border: 1px solid black;
    background-color: #C0C0FF;
    padding: 0.25em;
    padding-left: 2em;
    padding-right: 2em;
}

#content .toolbar .negative {
    background-color: #FFC0C0;
}

#content .toolbar .button:hover {
    border-bottom: 1px solid black;
    background-color: #9090FF;
    cursor: pointer;
}

#content .toolbar .negative:hover {
    background-color: #FF9090;
}

#content .toolbar ul {
    margin-top: 0px;
    margin-bottom: 0px;
    list-style: none;
    text-indent: -1em;
}

#content .toolbar select {
    margin-top: 0px;
    margin-bottom: 4px;
    height: 2em;
    color: #7070CC;
    border: 1px solid #929292;
    padding: 0.25em;
}

/* Create Note */

#create {
    padding: 1em;
}

#create table {
    margin-left: 10%;
}

#create td.title {
    width: 100px;
}

#create td.field input {
    width: 300px;
}

#create td.help {
    padding-left: 1em;
}

#create input.submit {
    width: 100%;
    font-size: 1.5em;
}

/* Reports */

.report {
    border: 1px solid #505050;
    margin-bottom: 1em;
    text-align: center;
}

.error {
    background-color: #FFC0C0;
}

.success {
    background-color: #E5E5CC;
}