{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="main">
<div id="settings-intro">
	


    <h4>{% trans "Settings for" %} <strong>{{ user.username }}</strong></h4>
    {% blocktrans %}
    <p>This is where you can make changes to your account.</p>
    {% endblocktrans %}
</div>

<div id="settings-options">
	{% if msg %}
		<p class="error">{{ msg }}</p>
	{% endif %}

  <h5>{% trans "Skins" %}</h5>
  <p class="unimportant">
  {% trans "Pick a skin to customize Codernote's appearance." %}
  </p>
    <p>
  {% trans "Select the default Codernote skin, a blue and tan serenade." %}
  <a class="right" href="{% url codernote.views.select_blue_skin %}">{% trans "select blue" %}</a>
  </p>
  <p>
  {% trans "Select the black and white skin, for all color haters." %}
  <a class="right" href="{% url codernote.views.select_bw_skin %}">{% trans "select black & white" %}</a>
  </p>

  <p>
  {% trans "Select the dark skin, for people who never sleep." %}
  <a class="right" href="{% url codernote.views.select_dark_skin %}">{% trans "select dark" %}</a>
  </p>
  
  
    <h5>{% trans "Account" %}</h5>
  <p>
  {% trans "Give your  account a new password." %}
  <a class="right" href="{% url user_changepw %}">{% trans "change password" %}</a>
  </p>
  <p>
  {% trans "Add or update the email address associated with your account." %}
  <a class="right" href="{% url user_changeemail %}">{% trans "change email" %}</a>
  </p>
  {% if is_openid %}
  <p>
  {% trans "Change openid associated to your account" %}
  <a class="right" href="{% url user_changeopenid %}">{% trans "change openid url" %}</a>
  </p>
  {% endif %}
  <p>
  {% trans "Erase your username and all your data from website" %}
  <a class="right" href="{% url user_delete %}">{% trans "delete account" %}</a>
  </p>
  
</div>
</div>
{% endblock %}
