{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="main account">

<div class="jointxt">
    {% blocktrans %}
    <h1>Join Codernote</h1>
    <p>You can join Codernote using either an OpenID account, or by creating a regular Codernote account.<br>If you choose OpenID, you'll select a username and supply your email address after verifying your OpenID account. </p>
    {% endblocktrans %}
    {% if form.errors %}
    <p class="errors">{% trans "Please correct errors below:" %}<br />
    {% if form.username.errors %} 
    <span class="error">{{ form.username.errors|join:", " }}</span>
    {% endif %}
    {% if form.email.errors %} 
    <span class="error">{{ form.email.errors|join:", " }}</span>
    {% endif %}
    {% if form.password2.errors %} 
    <span class="error">{{ form.password2.errors|join:", " }}</span>
    {% endif %}
    </p>
    {% endif %}
</div>
    <div class="form">
      <h2 class="signup">{% trans "Regular Signup" %}</h2>
    <form action="{% url user_signup %}" method="post" accept-charset="utf-8">	
        <div class="form-row"><label for="id_username">{% trans "Choose a Username:" %}</label><br />{{ form.username }}</div>

        <div class="form-row"><label for="id_email">{% trans "Enter Your Email Address:" %}</label><br />{{ form.email }}</div>
        <div class="form-row"><label for="id_password1">{% trans "Choose a Password:" %}</label><br />{{ form.password1 }}</div>
        <div class="form-row"><label for="id_password2">{% trans "Confirm Your Password:" %}</label><br />{{ form.password2 }}</div>

        <div class="submit-row"><input type="submit" value="{% trans "Sign up" %}" /></div>
    </form>
	</div>

    <div class="form">
    <h2 class="signup">{% trans "OpenID Signup" %}</h2>
    <form name="fopenid" action="{% url user_signin %}" method="post">
        <div class="form-row">{{ form2.openid_url }}</div>
        <div class="submit-row "><input name="bsignin" type="submit" value="{% trans "Sign in with OpenID" %}"></div>
	</form>
	</div>
	

</div>
{% endblock %}
