{% extends "base.html" %}

{% block content %}
<div class="main">
  <h2> Suggestions... Complaints... Comments...</h2>
  <p>
  This form is here to hear whatever you have to say.
  We'd prefer if you had lots of good things to mention,
  but we realize that Codernote has a lot of work left to
  be done as well.
  </p>
  <p>
  We'll do our best to fix your problem, appreciate your thanks,
  or respond to your comment as quickly as possible!
  </p>
  
  <form action="" method="POST">
  <table>
  {{ form.as_table }}
    <tr><td></td><td><input type="submit" value="Send Suggestion"></td></tr>
  </table>
  </form>
</div>
{% endblock %}