{% extends "base.html" %}

{% block content %}
<div class="main">
  <h2>Thank you for your time!</h2>
  <p>
  User feedback is the electricity that makes things
  go around here. Okay, we like developing Codernote
  for ourselves, so we'd be developing it anyway, but
  your feedback is the electricity that makes things
  go <em>in the direction you want it to</em>.
  </p>
  <p>
  That's because we want you to enjoy using Codernote.
  And for it to be really really useful. That's important
  too. But, definitely, we want you to enjoy using it.
  </p>
  
</div>
{% endblock %}