html {
    color: #333;
    background-color: #DDD;
}


.important {
    color: #111;
}

.unimportant {
    color: #777;
}


a {
    color: #777;
}

a:hover {
    color: #AAA;
}

#content .list .note {
    background: #BBB;
}

#content .list .markdown {
    background: #AAA;
}
#content .list .textile {
    background: #999;
}
#content .list .rest {
    background: #777;
}
#content .list .snippet {
    background: #555;
}

#content .list .note:hover {
    color: #777;
    background-color: #333;
}

.button {
    padding: 0.5em;
    border: 2px solid #777;
    margin-top: 0.5em;
    margin-right: 0.5em;
    margin-left: 0.5em;
}

.button:hover {
    border: 2px solid #AAA;
}

#header-spacer {
    background: url("/media/header_bullet_bw.png") no-repeat;
}

#content .list .note.sticky {
    border: 2px dashed #DDD;
}

#share-target.success {
    background: #EEE;
}
#share-target.failure {
    background: #444;
}