{% extends "base.html" %}

{% block title %}Codernote 404{% endblock %}

{% block content %}
<div class="main">
  <h1> 404: Page Could Not Be Found </h1>
  <p>
  So, one of three things just happened: you're a bot
  that is randomly messing with urls trying to find
  Codernote's great secrets, you navigated to a url
  that doesn't currently exist, or we screwed something
  up in epic fashion.
  </p>
  <p>
  All things considered... ahem. Probably our fault
  somehow.
  </p>
</div>
{% endblock %}