{% extends "base.html" %}

{% block title %}Codernote 500{% endblock %}

{% block content %}

<div class="main">
  <h1> 500: Server Error </h1>
  <p>
  An error seems to have occurred. What exactly went wrong,
  you might wonder. We're wondering too, because we know that
  you'll be upset if it goes wrong often. So we'll be upset if
  it goes wrong often.
  </p>
  <p>
  Of course, we like building things that actually work, so
  we'll be upset even if you aren't upset. So, actually, it's
  okay if you're pretty placid and mild about all of this:
  we'll still take care of it anyway.
  </p>
  <p>
  What... you want an animated animal telling you this?
  Gimmie a break.
  </p>
</div>
{% endblock %}
