<html> <head>
<title>{% block title %}Codernote{% endblock %}</title>
<link rel="stylesheet" href="/media/codernote.css">
<script type="text/javascript" src="/media/jquery-1.2.6.min.js"></script>
<script type="text/javascript" src="/media/codernote.js"></script>

{% block extrahead %}{% endblock %}
</head>
<body>
<div class="container">

<div id="header">
  <div class="top"></div>
  <div class="inner">
  <div class="navlinks">
    <div class="left">
      <a href="/about/">About</a>
      <a href="/help/">Help</a>
    </div>
    <div class="right">
      {% if user.is_authenticated %}
      <a href="/">Home</a>
      <a href="/config/">Configure</a>
      <a href="/account/logout/">Logout</a>
      {% else %}
      <a href="/account/login/">Login</a>
      {% endif %}
    </div> 
  </div>
  </div>
  <div class="bottom"></div>
</div>

<div id="content">
  {% block content %}{% endblock %}
</div>

<div id="footer">
  <div class="top"></div>
  <div class="inner">
  <span>
  A <a href="http://lethain.com/">Will Larson</a> production. All Rights Reserved, 2008.
  </span>
  </div>
  <div class="bottom"></div>
</div>

</div>
</body> </html>
