{% extends "base.html" %}


{% block content %}
<div class="main">
  <h2> Please Enter Signup Code </h2>
  {% if error %}
  <p>{{ error }}</p>
  {% endif %}
  <form action="" method="GET">
  <label for="pw">Signup Code:</label>
  <input name="pw">
  <input type="submit" value="Check Code">
  </form>

  <p>
  Currently Codernote is undergoing a private beta/alpha/omega/prototype
  stage, so you need a magical code to get in. We realize this is annoying
  as hell, and sympathize, but are doing it to maintain stability and
  grow this service at a sustainable rate.
  </p>
  
</div>
{% endblock %}